<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=0" name="viewport" />
    <title>成绩查询</title>
    {% load staticfiles %}
    <script src="{% static "js/vendor/jquery-1.12.0.min.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
    <link rel="stylesheet" href="{%  static 'css/index.css' %}" />

    <style>


    </style>
</head>
<body>
<div class="input-info">
    {% csrf_token %}
    <input type="text" name="no" placeholder="账号" value=""/>
    <input type="password" name="psw" placeholder="密码" value=""/>
    <input type="button" value="查询" onclick="getGrades()">
</div>
<div align="center" class="wait">成绩查询中，请稍等……</div>
<div class="info"></div>
</body>
</html>
