<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>postForImage</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=0" name="viewport" />
    {% load staticfiles %}
    <script src="{% static "js/vendor/jquery-1.12.0.min.js" %}"></script>
    <script src="{% static "js/postPage.js" %}"></script>
    <link rel="stylesheet"  href="{%  static 'css/postPage.css' %}" />
</head>
<body>
    <input type="button" id="post" value="send" />
    <img src="/getImage/" alt=""/>
    <img src="" alt=""/>
<script>

</script>
</body>
</html>